*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main-color: #5f1d50;
    --secondary-color: #a0c520;
    --bg-blg_1: #ffe0f8;
    --bg_blg_2: #F1A8E0;
    --bg_blg_3: #E76FCC;
    --bg_blg_4: #DB27B3;
    --bg_cosmetique_1: #FFFBD8;
    --bg_cosmetique_2: #FFDD55;
    --color_orange: #EC6708;
    --color_vert: #A0C520;
    --light-color: white;
    --gris-bas:  #575656;
}


body{
    font-family: sans-serif;
    overflow-x: hidden;

}

.home{
    margin: auto;
    transform: translateX(-50vw);
  /* transition: transform 4s ease-in-out; */

  height: 100vh;
  width: 200vw;

  display: grid;
  grid-template-columns: repeat(4, 50vw);
  grid-template-rows: repeat(3, 100vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}




/* ***************css du header ******************* */


@keyframes descendre {
    from { transform: translateY(-100%); } /* Déplace l'élément 100% au-dessus de l'écran */
    to { transform: translateY(0); } /* Déplace l'élément à sa position normale */
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: rgba(93, 120, 138, 0.1);
    animation-delay: 30s;
    animation: descendre 2s ease-in-out;
    
    
}

header nav{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    
}

header nav a {
    color: var(--main-color);
    font-size: 1.3rem;
}






header a > img{
    max-height: 50px;
}


/* animation pour le header */

@keyframes apparaitre {
    from { opacity: 0; transform: translateY(-100%);}
    to { opacity: 1; transform: translateY(0); }
  }

/* *********************************css boulangerie********************** */

.boulangerie{
    width: 50vw;
    background-image: url("images/patisseriebg1.png");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    background-color: var(--bg_cosmetique_1);
    padding: .5rem;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    
}
.boulangerie img{
    max-width: 15rem;
    opacity: 0;
}

.boulangerie .bouton{
    /* position: absolute;
    top: 25%;
    left: 40%; */
    
}
.link_active{
    border-bottom: 4px solid var(--secondary-color);
}

.boulangerie button{
    z-index: 2;
    /* position: absolute;
    top: 25%;
    left: 40%; */
    padding: 1.2rem;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    color: var(--light-color);
    font-size: 1.2rem;
    cursor: pointer;
}


.boulangerie .bouton p{
    
    /* position: absolute;
    top: 34%;
    left: 42%;  */
    opacity: 0;
    padding: .2rem 0;
    margin-top: .5rem;
    text-align: center;
    font-size: .85rem;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    animation: apparaitre 400ms ease-in-out;  /*faire apparaitre l'indice apres le chargement de la page*/
    /* animation-delay: 3s; */
    animation-fill-mode: forwards;
    transition:  translate 2s;
    
}

@keyframes apparaitre-hover {
    from { opacity: 1; transform: translateY(0);}
    to { opacity: 0; transform: translateY(-100%); }
  }


.boulangerie button:hover ~ p{
    /* translate: 0 -4rem; */
    animation: apparaitre-hover 400ms ease-in-out;
    /* animation-direction: reverse; */
}

/* ********************************** css cosmetique **************************************** */

.cosmetique{
    /* width: 50vw; */
    background-image: url(images/cosmetique\ bg\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--bg-blg_1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    
}

.cosmetique img{
    max-width: 150px;
    opacity: 0;
}

.cosmetique .bouton{
    /* position: absolute;
    top: 25%;
    left: 40%; */
}

.cosmetique button{
    padding: 1.2rem;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    color: var(--light-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.cosmetique .bouton p{
    padding: .2rem 0;
    margin-top: .5rem;
    text-align: center;
    font-size: .85rem;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    animation-delay: 20s;
    animation: apparaitre 3s ease-in-out;  /*faire apparaitre l'indice apres le chargement de la page*/
    
}


/* ********************************logo positionné **************************** */

.logo img{
    max-height: 150px;
}

#logo_gen{
    position: fixed;
    right: 46%;
    top: 45%;
    z-index: 2;

}

/* #logo_blg{
    position: fixed;
    right: 45%;
    top: 45%;
    rotate: -15deg;
    z-index: 1;
    opacity: 0;
} */

/* #logo_cos{
    position: fixed;
    right: 46%;
    top: 45%;
    z-index: 1;
    opacity: 0;

} */
/* ********************************animation logo *********************************** */


/* ******************************about cosmetique ************************** */

.about-cos{
    height: 100%;
    margin: auto;
    padding: 8rem 2rem;
    background-color: var(--bg-blg_1);
    /* align-self: center; */
}

.about-cos h2{
    padding: 3rem;
    
    
}

.about-cos p{
    font-size: 1.5rem;
    line-height: 3.5rem;
}


/* *************************about boulangerie ************************ */

.about-blg{
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    justify-content: center;
    /* align-items: center; */
    padding: 0 8rem;
    background-color: var(--bg_cosmetique_1);
    justify-self: center;
}

.about-blg h2{
    padding: 3rem 0;
    font-size: 2.4rem;
    color: var(--gris-bas);
    text-transform: uppercase;
}
.about-blg img{
    max-width: 70rem;
    align-self: center;
}

.about-blg p{
    font-size: 1rem;
    padding: .8rem 0;
    line-height: 2rem;
}


/* *******************classe ajouter au home pour le defilement 50********************** */

.home.home_defil{
    transform: translateX(-100vw);
    transition: transform .9s ease-in-out;
}

.home.home_defil2{
    transform: translateX(-50vw);
    transition: transform 2s ease-in-out;
}
@keyframes fuite_animation {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      transform: translateX(45vw) translateY(-60px);
      opacity: 0;
    }
    
}
@keyframes fuite_animation_cos {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      transform: translateX(-45vw) translateY(-60px);
      opacity: 0;
    }
    
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#logo_gen.fuite_logo_cos{
    animation: fuite_animation_cos 2s ease-in-out 1;
    animation-fill-mode: forwards;
}

#logo_gen.fuite_logo{
    animation: fuite_animation 2s ease-in-out 1;
    animation-fill-mode: forwards;
}

#logo_blg.fade_logo_blg{
    animation-delay: 5s;
    animation: fade-in 5s ease-in-out;
    animation-fill-mode: forwards;
} 

#logo_cos.fade_logo_cos{
    animation-delay: 5s;
    animation: fade-in 5s ease-in-out;
    animation-fill-mode: forwards;
}

/* *******************classe ajouter au home pour le defilement 50********************** */


.home.home_defil1{
    transform: translateX(0vw);
    transition: transform .9s ease-in-out;
}
