.contact{
    background-color: var(--bg-blg_1);
    padding: 3rem 2rem;
}

.contact label{
    color: var(--main-color);
}

.contact h1{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--main-color);
    font-family: var(--police-secondaire);
    font-size: 2rem;
    
}

.adresses{
    display: flex;
    justify-content: center;
    gap: 9rem;
}

.adress{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--main-color);
}

.adress h2{
    padding-bottom: 1rem;
}


.noms{
    display: flex;
    gap: 2rem
}

.prenom{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.prenom input{
    margin-bottom: .6rem;
}


.nom{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.nom input{
    margin-bottom: .6rem;
}
.emailObject{
    display: flex;
    gap: 2rem;
}

.email{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.object{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.message{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

form input{
    padding: .5rem;
    background-color: transparent;
    border: 1px solid var(--main-color);
    /* width: 100%; */
}

form input:focus{
    outline: none;
}

textarea{
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: .5rem;
    resize: none;
}
textarea:focus{
    outline: none;
}

form button{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: .9rem 1.5rem;
    background-color: var(--main-color);
    border: none;
    color: white;
}


form button:hover{
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color)
}


/* responsive */

@media (max-width: 800px) {
    .adresses{
        flex-direction: column;
        gap: 2rem;
    }
    form input{

    }
    
}

@media (max-width: 480px) {
    .noms, .emailObject{
        flex-direction: column;
        gap: .8rem;
    }

    
}
