:root{
/* color */
  --rouge_maamo: #5f1d50;  /* main color */
  --vert_maamo: #a0c520; /*secondary-color*/
  --bg-blg_1: #ffe0f8;
  --bg_blg_2: #F1A8E0;
  --bg_blg_3: #E76FCC;
  --bg_blg_4: #DB27B3;
  --bg_cosmetique_1: #FFFBD8;
  --bg_cosmetique_2: #FFDD55;
  --color_orange: #EC6708;
  --color_vert: #A0C520;
  --light-color: white;
  --gris-bas:  #575656;

  /* font */
    --font_default_maamo: sans-serif;

  /* distance */

}

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font_default_maamo);
}

/* ============= Footer =============== */

footer{
    background-color: var(--rouge_maamo);
    color: white;
    padding: 3rem;
}

footer h4{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: .3rem;
    margin-bottom: .5rem;
}

footer > div {
    width: 100%;
}

.footer_navigation{
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.footer_navigation img{
    max-height: 4rem;
}

.footer_navigation > div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    /* background-color: #F1A8E0; */
}

.footer_navigation .liste_navigation{
    width: 100%;
    border-left: solid 2px white;
    padding-left: 1rem;

}

.footer_navigation ul {
    list-style-type: none;
    width: 7rem;
}

.footer_navigation ul li{
    padding: .3rem;
    transition: .5s;

}
.footer_navigation ul li:hover{
    transform: translateX(20px);
}

.footer_navigation ul li a{
    color: white;
}

.footer_navigation > .footer_logo  {
    width: fit-content;
}
.footer_navigation > .footer_logo  img {
    margin: auto;
    max-height: 5rem;
}

.footer_social {
    margin-top: 3rem;
    text-align: center;
    padding: 1rem;
}
.footer_social div{
    max-width: 50vw;
    margin: auto;
    padding: .5rem;
}
.footer_social .social_icon{
    display: flex;
    gap: .8rem;
    justify-content: center;
}


footer .link_team48 {
    font-style: normal;
    position: relative;
}

footer .link_team48 a{
    color: var(--color_vert);
    text-decoration: none;
    font-weight: 550;
    transition: 400ms;
}

footer .hidden_item{
    display: none;
    transition: opacity 4s;
    opacity: 0;
    position: absolute;
    width: 30rem;
    top: -18rem;
    right: -1rem;
    background-color: #f9f1f0;
    border-radius: 5px;
}

footer .active_hidden_item{
    display: block;
    opacity: 1;
}

footer .hidden_item_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    width: 30rem;
    height: 17rem;
    padding: 2rem;
}

footer .hidden_item_wrapper .image{
    height: 100%;
    width: 50%;
    border-left: 1px solid black;
}

footer .hidden_item_wrapper .text {
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



footer .hidden_item .text p{
    color: black;
    text-align: left;
    font-size: .9rem;
    font-weight: 400;
}

footer .hidden_item .text p em{
    font-style: normal;
    color: #fd5956;
    font-weight: 600;
}

footer .hidden_item img{
    width: 11rem;
}