*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    height: 100vh;
    position: relative;
    /* overflow-y: hidden; */
}


/* -----------------navigation-------------------- */


@keyframes descendre {
    from { transform: translateY(-100%); } /* Déplace l'élément 100% au-dessus de l'écran */
    to { transform: translateY(0); } /* Déplace l'élément à sa position normale */
}

.navigation{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgb(250, 235, 215);
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background-color: rgba(93, 120, 138, 0.1);
    animation-delay: 30s;
    animation: descendre 2s ease-in-out;
    
}

.navigation img{
    height: 50px;
}

.navigation nav{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    
}

.navigation nav a {
    color: var(--main-color);
    font-size: 1.3rem;
}

/* ******************classe ajoute pour mettre un border sur les liens du nav lorsque celui ci est clique************ */

.link_active{
    border-bottom: 4px solid var(--secondary-color);
}


/* -------------------container--------------------- */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #f3eea2; */
    /* width: 100vw; */
    /* overflow: hidden; */
 
}



.container_wrapper {
   
    height: 100vh;
    width: 200vw;
    display: flex;
    justify-content: center;
    /* background-color: rgba(0, 119, 255, 0.74); */


    /*############### pour deplacer le .navigation ##############*/
    /* transform: translateX(50vw);  */
}


/* .container_cosmetique{
    width: 100%;
    background-color:#c1dff3;
}
.container_boulangerie{
    width: 100%;
    background-color:#e1c1f3;
} */

