*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-overflow-y: hidden;
}


body{
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}


/* -----------------navigation-------------------- */


@keyframes descendre {
    from { transform: translateY(-100%); } /* Déplace l'élément 100% au-dessus de l'écran */
    to { transform: translateY(0); } /* Déplace l'élément à sa position normale */
}

.navigation{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgb(250, 235, 215);
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background-color: rgba(93, 120, 138, 0.1);
    animation-delay: 30s;
    animation: descendre 2s ease-in-out;
    
}

.navigation img{
    height: 50px;
}

.navigation nav{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    
}

.navigation .navigation_link{
    color: var(--main-color);
    font-size: 1.3rem;
}

/* ******************classe ajoute pour mettre un border sur les liens du nav lorsque celui ci est clique************ */

.navigation .navigation_link.link_active{
    border-bottom: 4px solid var(--secondary-color);
}


/* -------------------container--------------------- */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #f3eea2; */
    /* width: 100vw; */
    overflow: hidden;
 
}



.container_wrapper {
    position: relative;
    /* height: 100vh;
    width: 200vw; */
    display: flex;
    justify-content: center;
    /* background-color: rgba(0, 119, 255, 0.74); */


    /*############### pour deplacer le .navigation ##############*/
    /* transform: translateX(-50vw);  */
}

/* *******************classe ajouter au home pour le defilement 50********************** */


.container_wrapper.home_defil1{
    transform: translateX(50vw);
    transition: transform .9s ease-in-out;
}
.container_wrapper.home_defil{
    transform: translateX(-50vw);
    transition: transform .9s ease-in-out;
}

.container_wrapper.home_defil2{
    transform: translateX(0vw);
    transition: transform 2s ease-in-out;
}



/* *****************************style des logo ************* */


@keyframes fuite_animation {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      transform: translateX(45vw) translateY(-60px);
      opacity: 0;
    }
    
}
@keyframes fuite_animation_cos {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      transform: translateX(-45vw) translateY(-60px);
      opacity: 0;
    }
    
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#logo_gen{
    max-width: 150px;
    position: absolute;
    right: 48%;
    top: 50%;
    z-index: 5;

}

#logo_gen.fuite_logo_cos{
    animation: fuite_animation_cos 2s ease-in-out 1;
    animation-fill-mode: forwards;
}

#logo_gen.fuite_logo{
    animation: fuite_animation 2s ease-in-out 1;
    animation-fill-mode: forwards;
}

#logo_blg.fade_logo_blg{
    animation-delay: 5s;
    animation: fade-in 5s ease-in-out;
    animation-fill-mode: forwards;
} 

#logo_cos.fade_logo_cos{
    animation-delay: 5s;
    animation: fade-in 5s ease-in-out;
    animation-fill-mode: forwards;
}


/* ********************style produits ************* */

.produits{
    padding: 3rem;
}

.produits h2{
    text-align: center;
}

.produits .images{
    display: grid;
    grid-template-columns: repeat(3, 450px); /* Définir trois rangées de 100px chacune */
    gap: 20px; /* Définir un espacement de 20px entre les cellules */
    justify-content: center; /* Aligner les éléments horizontalement au centre */
    align-items: center; 
}